[submodule "test/fixtures/environments"]
	path = test/fixtures/environments
	url = https://github.com/haapp/serverspec-environments.git
[submodule "test/fixtures/roles"]
	path = test/fixtures/roles
	url = https://github.com/haapp/serverspec-roles.git
[submodule "test/integration/test_w_percona"]
	path = test/integration/test_w_percona
	url = https://github.com/haapp/serverspec-w_percona.git
