.codenvy/*
.vagrant/*
.chef/*
*.lock
*.orig
*.sql
*.log
.DS_Store
websites/*
.kitchen/*
!websites/README
data_bags/aws/*
!data_bags/aws/README
data_bags/w_varnish/*
!data_bags/w_varnish/README
data_bags/w_apache/*
!data_bags/w_apache/README
data_bags/w_common/*
!data_bags/w_common/README
data_bags/w_mysql/*
!data_bags/w_mysql/README
data_bags/w_haproxy/*
!data_bags/w_haproxy/README
*~
